.lesson-card {
    display: block;
  }
  
  
  .lesson-name {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 5em;
  font-weight: bold;
  }
  
  .lesson-bio {
  color: black;
  display: block;
  font-size: 2em;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  }
  
  .lesson-img {
  margin-top: 100px;
  width: 300px;
  height: 300px;
  min-width: 250px;
  min-height: 250px;
  max-width: 450px;
  max-height: 450px;
  }