.about-body {
    background-image: url(https://i.imgur.com/y26pO1r.jpg);
    background-size: contain;
    min-height: 116.8vh;
    max-width: 300vh;
    margin: 10px 10px 10px 10px;
  }

.about-title {
  color: #ffffff;
  align-items: center;
  font-size: 4rem;
}
.about-container1 {
  width: 100%;
  max-width: 1000px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  padding-top: 50px;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px; 
  }

  .dinopic1 {
    width: 400px;
    height: 300px;
    margin-top: -120px;
    margin-left: -70px;
  }
.text1 {
    color:rgb(0, 2, 2);
    font-size: 1.9rem;
    margin-left: 60px;
    padding-right: 10px;
    margin-top: 10px;
}
.teacher-card {
    color: #ef0a0a;
    padding-top: 25px;
    font-size: 2rem;
  }