.LectureDetail {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vmin;
    font-size: 2vmin;
    color: var(--text-light);
  }
  
  .LectureDetail .section-heading {
    width: 100%
  }
  
  .LectureDetail .line-lesson-container {
    margin-top: 3vmin;
    justify-content: flex-start;
    height: calc(100vh - 18vmin);
    width: 100%;
  }
  
  .LectureDetail .lessons-done {
    width: 100%;
    display: grid;
    grid-template-columns: 18.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-light);
    border-top: .1vmin solid var(--green-3);
  }
  
  .LectureDetail .total span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    color: var(--text-dark);
  }
  
  .LectureDetail .total span.right {
    display: flex;
    justify-content: flex-end;
  }
  
  .LectureDetail .no-lesson {
    position: absolute;
    top: 50vh;
    font-size: 2vmin;
  }