* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.testimony-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stars {
    display: flex;
    flex-direction: row;
  }

.textarea {
    border: 1px solid #a9a9a9;
    border-radius: 5;
    padding: 10;
    margin: 20px 0;
    min-height: 100;
    width: 300;
}

.testimony-button {
    border: 1px solid #a9a9a9;
    border-radius: 5;
    width: 300;
    padding: 10;
}

