.ClassListLesson {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: var(--yellow);
  border: 0.2vmin solid var(--green-3);
  border-radius: 1vmin;
  font-size: 2vmin;
  cursor: pointer;
}

.ClassListLesson.selected, .ClassListLesson:not(.selected):hover {
  border-color: var(--green);
  border-width: 0.2vmin;
}

.ClassListLesson.selected {
  cursor: default;
}