.LevelList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
  }
  
  .LevelList li {
    padding: .6vmin;
    text-align: center;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
  }
      
  .LevelList li:hover:not(.active) {
    cursor: pointer;
    background-color: var(--green);
    color: var(--yellow);
  }
  
  .LevelList li.active {
    color: var(--text-dark);
    background-color: var(--green-1);
    border: .1vmin solid var(--green-3);
  }