:root {
  --yellow: #f1e608;
  --green-1: #9ff37b;
  --green-2: #70f424bd;
  --green-3: #6aea0977;
  --green-4: #380567;
  --green: #add313;
  --text-light: #f2f7cf;
  --text-dark: #030503;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gochi Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--green-4);
  padding: 2vmin;
  height: 100vh;
}

.form-container {
  padding: 3vmin;
  background-color: var(--green-1);
  border: .1vmin solid var(--green-3);
  border-radius: 1vmin;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--green-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--green);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--green);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--green-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--green-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
h1 {
  font-family: 'Gochi Hand', cursive;
  font-size: 6vmin;
  font-weight: lighter;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  font-size: 2vmin;
}

button.left-arrow img {
  height: 80px;

}

button.right-arrow img {
  height: 80px;
}

button.left-arrow {
    background-color: transparent;
    border-style: none;
}

button.right-arrow {
  background-color: transparent;
  border-style: none;
}

button.left-arrow:hover {
  background-color: transparent;
  
}

button.right-arrow:hover {
background-color: transparent;
}

.sliderbox {
  display: flex;
  justify-content: center; 
} 

.form-container-login {
background-image: url(https://i.imgur.com/69L2r3N.png);
aspect-ratio: 25/18;
max-height: 600px;
background-position: center; 
background-size: cover; 
margin-left: 500px;
}

.form-container-signup {
background-image: url(https://i.imgur.com/69L2r3N.png);
aspect-ratio: 25/18;
max-height: 680px;
background-position: center; 
background-size: cover; 
margin-left: 500px;
margin-top: -80px;
}

.inside-form-login{
max-width: 500px ;
padding: 210px 210px 150px;
  }

  .inside-form-signup{
    max-width: 600px ;
    padding: 210px 210px 150px;
      }

  .dinologo {
    margin-top: 150px;
    margin-left: -1180px;
    max-height: 200px;
  }
  
  .auth-button {
    margin-top: 150px;
    margin-left: 300px;
    background-color: coral;
    border: 1px solid rgb(215, 16, 16);
  }
  button.auth-button:hover {
    background-color: rgb(233, 68, 18);
    }
  .container-auth{
    margin-top: -250px;
  }

  h1.home-page-title {
    font-size: 6vmin;
    font-weight: lighter;
}

h3, h2  {
  color: #c90ebc;
  font-size: 25px;
}


